<?php 
if (empty($modelClass)) {
    $modelClass = Inflector::singularize($this->name);
}

$this->Html
    ->addCrumb('<i class="icon-home icon-large"></i>', '/admin', array('escape' => false))
    ->addCrumb('Generales', array('controller' => 'sections', 'action' => 'index'))
?> 
<h2 class="hidden-desktop">Generales</h2>
<div class="row-fluid">
    <div class="span12 actions">
        <ul class="nav-buttons">
            <li><?php echo $this->Html->link('Nuevo', array('action' => 'add'), array('class' => 'btn btn-success')); ?></li>
        </ul>
    </div>
</div>
<div class="row-fluid">
    <div class="span12">
        <table class="table table-striped">
            <?php
            $tableHeaders = array(
                $this->Paginator->sort('id', 'ID'),
                $this->Paginator->sort('name', 'Nombres'),
                $this->Paginator->sort('cid', 'Documento'),
                $this->Paginator->sort('profession', 'Profesión'),
                $this->Paginator->sort('experience', 'Experiencia'),
                $this->Paginator->sort('city', 'Ciudad'),
                $this->Paginator->sort('email', 'Email'),
                'Acciones'
            );
            $tableHeaders = $this->Html->tableHeaders($tableHeaders);
            ?>
            <thead>
                <?php echo $tableHeaders; ?>
            </thead>
            <?php
            $rows = array();
            foreach ($sections as $item) {
                $actions = '<div class="item-actions">' . 
                    $this->Html->link('<i class="icon-eye-open icon-large"></i>',
                        array('action' => 'view', $item[$modelClass]['id']),
                        array('data-title' => 'Ver este elemento', 'rel' => 'tooltip', 'data-trigger' => 'hover', 'escape' => false, 'class' => 'edit')
                    ) .                    
                '</div>';
                $rows[] = array(
                    $item[$modelClass]['id'],
                    $item[$modelClass]['name'],
                    $item[$modelClass]['cid'],
                    $item[$modelClass]['profession'],
                    $item[$modelClass]['experience'],
                    $item[$modelClass]['city'],
                    $item[$modelClass]['email'],
                    $actions
                );
            }
            ?>
            <?php echo $this->Html->tableCells($rows); ?>
        </table>

    </div>
</div>

<div class="row-fluid">
    <div class="span12">
        <?php if ($pagingBlock = $this->fetch('paging')): ?>
            <?php echo $pagingBlock; ?>
        <?php else: ?>
            <?php if (isset($this->Paginator) && isset($this->request['paging'])): ?>
                <div class="pagination">
                    <p>
                    <?php
                    echo $this->Paginator->counter(array(
                        'format' => 'Página {:page} de {:pages}, mostrando {:current} registros de {:count} totales, iniciando en el registro {:start}, finalizando en {:end}'
                    ));
                    ?>
                    </p>
                    <ul>
                        <?php echo $this->Paginator->first('< ' . 'first'); ?>
                        <?php echo $this->Paginator->prev('< ' . 'prev'); ?>
                        <?php echo $this->Paginator->numbers(); ?>
                        <?php echo $this->Paginator->next('next' . ' >'); ?>
                        <?php echo $this->Paginator->last('last' . ' >'); ?>
                    </ul>
                </div>
            <?php endif; ?>
        <?php endif; ?>
    </div>
</div>
